@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

.layout {
	width: 100%;

	figure {
		width: 100%;
		height: 30vh;
		background: gray;
	}

	.content {
		width: 80vw;
		margin: 5vh auto;
		min-height: 60vh;

		h1 {
			font: normal 100px/1 'Nanum Myeongjo';
			color: #555;
			margin-bottom: 30px;
		}
	}
}
